@page "/details/{ProjectId:int}"
@inject IProjectService _projectService
@inject IProjectDateService _projectDateService
@inject IProjectSignUpService _projectSignUpService
@inject IVolunteerService _volunteerService
@inject ILocalStorageService _localStorage
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager
@using MyVolunteer_Client.ViewModels

<_projectSignUpConfirmation IsParentComponentProcessing="IsProcessing" ConfirmationChanged="ConfirmSignUp_Click"></_projectSignUpConfirmation>
@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
} 
else{
    <EditForm Model="DetailsVM" method="post">
        <div class="card container mt-4">
            <div class="card-header ml-0  row">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Project.Name</h1>
                </div>

                <div class="col-12 col-md-6 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Project.Category.Name</span>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-10">
                            <p>@((MarkupString)@Project.Description)</p>
                            <div class="row">
                                @foreach (var projectDate in Project.ProjectDates.Where(p => p.VolunteersLimit > 0 && p.IsApproved))
                                {
                                    if (projectDate.Id == DetailsVM.SelectedProjectDateId)
                                    {
                                        <div class="col-2 bg-light text-center pt-2 m-2" style="border:3px solid #28A745; border-radius:10px;box-shadow:5px">
                                            <p>Place: @projectDate.Place</p>
                                            <p>Salary: @projectDate.Salary.ToString("c")</p>
                                            <p>Termin: @projectDate.ProjectStartDate.ToString("d") - @projectDate.ProjectEndDate.ToString("d")</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-2 bg-light text-center pt-2 m-2" style="border:1px solid; border-radius:10px;box-shadow:5px"
                                        @onclick="(args)=>SelectedprojectDate(args,projectDate.Id)">
                                            <p>Place: @projectDate.Place</p>
                                            <p>Salary: @projectDate.Salary.ToString("c")</p>
                                            <p>Termin: @projectDate.ProjectStartDate.ToString("d") - @projectDate.ProjectEndDate.ToString("d")</p>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="@Project.ImageUrl" width="100%" class="rounded" />
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-4 pb-1">
                            <a class="btn btn-success form-control " href="/">Back to Home</a>
                        </div>
                        <div class="col-12 col-md-4 pb-1">
                            @if(DetailsVM.SelectedProjectDateId > 0)
                            {
                                <button type="submit" value="Sign Up" class="btn btn-primary form-control" @onclick="()=>HandleConfirmation(DetailsVM.SelectedProjectDateId)">Sign up</button>
                            }
                            else{
                                <button type="submit" value="Sign Up" disabled class="btn btn-primary form-control">Sign up</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}
@code {
    [Parameter]
    public int ProjectId{ get; set; }

    public int SelectedProjectId { get; set; }
    public bool IsProcessing { get; set; } = false;
    public ProjectDTO Project { get; set; } = new();
    public DetailsVM DetailsVM { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        Project = await _projectService.Get(ProjectId);
        IsProcessing = false;
    }
    private async Task SelectedprojectDate(MouseEventArgs e, int projectDateId)
    {
        DetailsVM.ProjectDate = Project.ProjectDates.FirstOrDefault(u => u.Id == projectDateId);
        DetailsVM.SelectedProjectDateId = projectDateId;
    }

    private void HandleConfirmation(int id)
    {
        SelectedProjectId = id;
        _jsRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async void ConfirmSignUp_Click(bool isConfirmed)
    {
        IsProcessing = true;
        if(isConfirmed && SelectedProjectId != 0)
        {
            await _jsRuntime.InvokeVoidAsync("HideConfirmationModal");
            await ProjectSignUp();
        }
        IsProcessing = false;
    }

    private async Task ProjectSignUp()
    {
        var projectDate = await _projectDateService.Get(SelectedProjectId);
        var volunteerId = await _localStorage.GetItemAsStringAsync("Volunteer Id");
        var volunteer = await _volunteerService.Get(int.Parse(volunteerId));
        ProjectSignUpDTO projectSignUp = new ProjectSignUpDTO()
            {
                ProjectId = projectDate.Id,
                VolunteerId = int.Parse(volunteerId),
                SignDate = DateTime.Now,
                ProjectName = Project.Name,
                ProjectStartDate = projectDate.ProjectStartDate,
                ProjectEndDate = projectDate.ProjectEndDate,
                ProjectPlace = projectDate.Place,
                VolunteerName = volunteer.Name,
                VolunteerDateOfBirth = volunteer.DateOfBirth,
                VolunteerEmail = volunteer.Email,
                VolunteerPhoneNumber = volunteer.PhoneNumber,
                VolunteerSex = volunteer.Sex
            };
        await _projectSignUpService.Add(projectSignUp);
        _navigationManager.NavigateTo("confirmation");
    }
}
